<launch>

    <node name="boat_tf2_broadcaster" type="boat_tf2_broadcaster" pkg="sim_usv" />

    <node name="dynamic_uncertain_model" type="dynamic_uncertain_model" pkg="sim_usv"/>

    <arg name="model" default="$(find sim_usv)/urdf/boat.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
